*{
    margin:0px;
    padding:0px;
}
/* Common Style */

/* Header Style */
.header-container{
    width: 1320px;
    border-radius: 16px;
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner-image.png');
    margin: 50px auto 140px;
    padding:
}
    .heading-section{
        color: #FFFFFF;
        text-align:center;
        padding:177px 344px;
        font-family:Merriweather;
    }

    .heading{
        font-size:32px;
        font-weight: 400;
    }
    .heading-title{
        width:632px;
        font-size:72px;
        font-weight: 900;
        text-align:center;
    }

/* Main Style */
.container{

    width: 1320px;
    margin: 50px auto 140px;
    border-radius: 16px;
    
}
.black{
    background-color: #070211;
    color:#FFFFFF;
}
.offer-section{
    width: 1320px;
    margin: 0px auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.offer{
    color:#F00;
    font-size:88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.offer-description{
    color:#F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.offer-Categories{
    color:#070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom:48px;


}
.welcome-container{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/midnight.png');
    margin-top:120px;
    padding: 67px 136px;
    background-repeat: no-repeat;
    display: flex;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: space-between;
    align-items: center;
    
}
.welcome-title{
    color:#FFFFFF;
    font-size:64px;
    font-weight:900px;
    width: 642px;
    margin-bottom: 24px;
    font-family: Merriweather;
}
.welcome-description{
    color:rgba(255,255,255, 0.80) ;
    width:697px;
    font-family: 'Inter', sans-serif;
    font-size:14px;
    font-weight: 400;
    margin-bottom: 48px;
}
.join-now-btn{
    width: 150px;
    background-color: #2c3e50;
    padding: 15px;
    border-radius: 50px;
    cursor:pointer;
    text-transform:uppercase;
    color:#FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.coming-soon-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coming-soon-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.coming-soon-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.offer{
    color:#F00;
    font-family: 'Inter', sans-serif;
    margin-bottom:0px;

}
.coming-soon-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}
.holidays-container{
    text-align: center;
}
.functional{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500; 
}
.holidays-title{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.sale-50{
    color: #070211;
}
.holidays-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding:0 312px;
    margin-bottom: 50px;
}




.image-flex{
    display:flex;
    justify-content: space-between;
}
.blank{
    width:200px;
    background-color: #FFF;
}
.absolute{
    position:absolute;
    margin:-668px 0 0 0;
}
.disscount{
    position:absolute;
    left: 750px;
    margin:69px 0 0 0px;
}
.image-middle{
    padding: 30px;
    border:5px solid #F00;
    border-radius: 100%;
    
}

.place-container{
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 120px;
    
}
.place-date-time-content{
    width: 550px;
    text-align: center;
    padding:130px 350px;
    color:#070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.time{
    margin-bottom: 48px;
}
.span{
    color: #F00;
}
.join-now-btn-2{
    background: #F00;
    border-radius: 8px;
    color: #FFF;
    padding:16px 32px;
    cursor: pointer;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.title{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font: size 24px;
    font-weight:500;
    
}
.title-heading{
    color:#070211;
    font-family:Merriweather;
    font-size:48px;
    font-weight:900;
    color: #070211;
}
.gift-description{
    color:rgba(7,2,17,0.60);
    font-family: 'Inter', sans-serif;
    font-size:20px;
    font-weight:400;
    width: 850px;
}
.wraper{
    margin:24px 0px;
    display: flex;
    gap:25px;
    
}
.wraper-2{
    display: flex;
    gap:25px;  
}

.gift-images:hover{
    border:5px solid rgba(255, 89, 0, 0.923);
    border-radius: 15px;
    transition: 0.2s; */
    
}
.section-container{
    border-radius:15px;
    background: rgba(255,0,0,0.05);
    margin:120px 0px;
    padding: 80px 212px;
    text-align: center;
}
.email-picture{
    margin-bottom:40px;
}
.subscriber-news-letter{
    color:#070211;
    font-family: Merriweather;
    font-size:48px;
    font-weight:900;
    margin-bottom:22px;
}
.subscribe-description{
    color: rgba(7,2,17,0.60);
    font-family: 'Inter', sans-serif;
    font-size:20px;
    font-weight: 400;
    margin-bottom: 48px;
    
}
.group-section{
    display: flex;
    justify-content: center;
    
}

input,button{
    border:none;
    outline: none;
}
    input[type=email] {
    width: 428px;
    padding: 22px 50px;
    font-size: 18px;
    border-radius: 15px 0px 0px 15px;
    box-sizing: border-box;
    background-color: #FFF;
  }
 


.submit{
    width:212px;
    padding: 21px;
    border-radius:0px 30px 30px 0px;
    background:#FF0000;
    color:#FFF;
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    font-family: 'Inter', sans-serif;
}


/* Footer Style */
.common-flex{
    display:flex;
    justify-content: space-between;
    padding:120px 140px;
    align-items: center;
}
.phone , .website{
    display:flex;
    gap:10px;
    align-items: center;
}
.common-style{
    color:#FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.social-media-section>ul{
    display:flex;
    gap:25px;
    justify-content: center;
}
.social-media-section li{
    list-style: none;
}
.unsubscribe-btn{
    background-color:#070211;
    font-size:24px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.first-horizontal{
    width: 80%;
    margin: 0 auto;
    margin-bottom:50px;
}
.second-horizontal{
    margin-top:50px;
}